/*basic styling*/
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

:root {
    --off-white: #F5F5F5;
    --mid-red: #D30731;
    --dk-red: #630316;
    --mid-green: #00A334;
    --dk-green: #00290D;
    --max-width: 1500px;
}

body {
    font-family: 'Karla', sans-serif;
    background-color: var(--off-white);
}
/*header*/
header {
    border-bottom: 5px solid var(--mid-green);
    color: var(--mid-red);
    position: absolute;
    top: 0;
    width: 100%;
    height: 120px;
    text-align: center;
}

@media screen and (max-width: 348px) {
    header {
        height: 150px;
    }
}

.title {
    font-weight: bold;
}

.how-to {
    font-size: 1.25rem;
}

/*main game section*/

.game {
    padding-top: 125px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.card {
    display: inline-block;
    width: 30%;
    height: 125px;
    margin: 10px;
    background: var(--dk-red) url("../images/welsh-flag.png") no-repeat center center;
    background-size: cover;
}

.card:hover {
    animation-name: hover-zoom;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes hover-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

/*footer*/

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.score {
    color: var(--dk-green);
    font-weight: bold;
    font-size: 1.5rem;
}